body{
    height: 100%;
}

video{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    z-index: 1;
}

div{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 65%;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: 100px;
    text-align: center;
    background-color: black;
    opacity: 0.7;
    color: azure;
    border-radius: 30px;
}

h1{
    margin-bottom: 25px;
    color: azure;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
}

p{
    color: azure;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}

a{
    color: crimson;
    font-family: 'Roboto', sans-serif;
    border: solid 3px;
    text-decoration: none;
    padding: 12px 24px;
}